body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  font-size: 22px;
  margin-bottom: 0;
}

li {
  list-style: none;
  color: #70757a;
  font-size: 16px;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

.current-temp {
  margin-top: 10px;
}

.forecast-day {
  font-size: 15px;
}

.forecast-icon {
  margin: 0 auto;
  display: block;
}

.forecast-max-min {
  font-size: 13px;
}

.forecast-min {
  opacity: 0.7;
  padding-left: 5px;
}

.unit-links {
  margin-top: 10px;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.weather-app {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app-wrapper {
  border: 1px solid #70757a;
  border-radius: 5px;
  padding: 20px;
}

.weather-temp {
  margin-top: 10px;
}

.weather-temp img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.weather-temp strong {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  margin-right: 5px;
}

.weather-temp .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temp .active:hover {
  text-decoration: none;
}
