body {
  font-family: "Nanum Gothic", sans-serif;
  background: #ebf9ff;
}

form {
  margin-bottom: 30px;
}

h1 {
  color: #1e75c8;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
}

li {
  list-style: none;
  padding: 5px;
  color: #70757a;
  font-size: 16px;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

.current-time {
  font-size: 20px;
  margin-bottom: 20px;
}

.current-temp {
  margin-top: 20px;
}

.forecast-day {
  color: #1e75c8;
  font-size: 15px;
  padding-top: 20px;
}

.forecast-icon {
  margin: 0 auto;
  display: block;
}

.forecast-max-min {
  font-size: 15px;
  padding-top: 20px;
}

.forecast-min {
  opacity: 0.7;
  padding-left: 10px;
}

.left-content {
  border-right: 2px solid #1e75c8;
}

.unit-degrees {
  margin-top: 23px;
}

.weather-forecast {
  text-align: center;
  margin-top: 0;
}

.weather-app {
  max-width: 800px;
  margin: 40px auto;
}

.weather-app-wrapper {
  border-radius: 10px;
  padding: 50px;
  background: #fff;
  box-shadow: 0 30px 50px rgba(50, 82, 100, 0.08);
}

.weather-temp img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.weather-temp strong {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  margin-top: 20px;
  margin-right: 5px;
}
