body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  font-size: 22px;
  margin-bottom: 0;
}

li {
  list-style: none;
  color: #70757a;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-app {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app-wrapper {
  border: 1px solid #70757a;
  border-radius: 5px;
  padding: 20px;
}

.weather-temp img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.weather-temp strong {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}
